<h3>Directives</h3>

<p>Built in directives</p>
<ul>
  <li>
    <b
      ><button
        style="font-weight: bold"
        [ngClass]="isShiny ? 'shiny-button' : ''"
      >
        ngClass
      </button></b
    >
    <div>
      <span>Make Shiny</span>
      <input type="checkbox" [(ngModel)]="isShiny" />
    </div>
  </li>
  <li>
    <p [ngStyle]="{ 'font-weight': isBold ? 'bold' : 'normal' }">ngStyle</p>
    <div>
      <span>Embolden</span>
      <input type="checkbox" [(ngModel)]="isBold" />
    </div>
  </li>
</ul>

<h3 style="margin-top: 20px">Structural directives</h3>
<ul>
  <li>
    <p *ngIf="isShown" [hidden]="false">*ngIf</p>
    <div>
      <span>Show</span>
      <input type="checkbox" [(ngModel)]="isShown" />
    </div>
  </li>
  <li>
    <p>*ngFor</p>
    <ul>
      <li *ngFor="let item of items">
        {{ item.name }} donated ${{ item.value }}
      </li>
    </ul>
  </li>
</ul>

<div style="margin-top: 20px"><b>Custom directives</b></div>
<ul>
  <li colorHover hoverColor="green">Green</li>
  <li colorHover hoverColor="red">Red</li>
  <li colorHover hoverColor="blue">Blue</li>
  <li colorHover hoverColor="yellow">Yellow</li>
</ul>
