<h3>Directives Component</h3>

<div style="display:inline-block; margin-right:50px; vertical-align: top;">
<h3>Built in directives</h3>
<ul>
  <li>
    <b
      ><button
        style="font-weight: bold"
        [ngClass]="isShiny ? 'shiny-button' : ''"
      >
        ngClass
      </button></b
    >
    <div>
      <span>Make Shiny</span>
      <input type="checkbox" [(ngModel)]="isShiny" />
    </div>
  </li>
  <li>
    <p [ngStyle]="{ 'font-weight': isBold ? 'bold' : 'normal' }">ngStyle</p>
    <div>
      <span>Embolden</span>
      <input type="checkbox" [(ngModel)]="isBold" />
    </div>
  </li>
</ul>
</div>


<div style="display:inline-block; margin-right:50px; vertical-align: top;">
  <h3>Structural directives</h3>
  <ul>
    <li>
      <p *ngIf="isShown" [hidden]="false">*ngIf</p>
      <div>
        <span>Show</span>
        <input type="checkbox" [(ngModel)]="isShown" />
      </div>
    </li>
    <li>
      <p>*ngFor</p>
      <ul>
        <li *ngFor="let item of items">
          {{ item.name }} donated ${{ item.value }}
        </li>
      </ul>
    </li>
  </ul>
</div>

<div style="display:inline-block;vertical-align: top;">
  <h3>Custom directives</h3>
    <ul>
      <li colorHover hoverColor="green">Green</li>
      <li colorHover hoverColor="red">Red</li>
      <li colorHover hoverColor="blue">Blue</li>
      <li colorHover hoverColor="yellow">Yellow</li>
    </ul>
  </div>


<div>

