<h3>Observables Overview</h3>

<ul>
  <li>
    <p id="myMouseLI">Shared Service & Events</p>
    <div>
      <mat-form-field class="p-2 grow" appearance="outline">
        <mat-label>Movie Title</mat-label>
        <input matInput [(ngModel)]="movieName" />
      </mat-form-field>
    </div>
    <p>
      <button
        class="pl-3 ml-3"
        (click)="addMovie()"
        mat-raised-button
        color="primary"
      >
        Add New Movie
      </button>
    </p>
    <movie-list></movie-list>
  </li>
  <li>
    <p class="link-text">
      <a routerLink="/observables/async-pipe"
        >Async Pipe {{ movieCount$ | async }}</a
      >
    </p>
    <p>Another way of handling a subscription</p>
  </li>
  <li style="margin-top: 20px">
    <p class="link-text">
      <a routerLink="/observables/subscriptions">Subscription Handling</a>
    </p>
    <p>Finite & infinite observables, subscribe callback handling</p>
  </li>
</ul>
