<h3>Overview</h3>

<ul>
    <li>
        <p>What languages do you use with Angular? </p>
        <p>JS/Typescript, CSS, HTML.</p>
    </li>
    <li>
        <p>Modules</p>
        <p>These group components and/or pieces of functionality together.</p>
    </li>
    <li>
        <p>Components</p>
        <p>Could be a page or a single control, or just some HTML. These can have coded functionality and are made up of an html, css, and .ts file, optionally (spec.ts).</p>
    </li>
    <li>
        <p>Dependency Injection & Services</p>
        <p>How functionality makes it's way from a service into a component.</p>
    </li>
    <li>
        <p>Template Bindings</p>
        <p>{{templateBindings}}</p>
    </li>
    <li>
        <p>Routes</p>
        <p>How to traverse the app.</p>
    </li>
    <li>
        <p><a routerLink="/pipes">Pipes</a></p>
        <p>Transforming data, built in pipes and custom.</p>
    </li>
    <li>
        <p><a routerLink="/directives">Directives</a></p>
        <p>Additional behavior to elements, built in directives and custom.</p>
    </li>
</ul>