<h3>Overview</h3>

<ul>
  <li>
    <p>What is Angular?</p>
    <p>Development platform built on Typescript, JS/Typescript, CSS, HTML.</p>
  </li>
  <li>
    <p>Angular CLI</p>
    <p>ng build, ng serve, ng generate, ng test.</p>
  </li>
  <li>
    <p>Modules</p>
    <p>
      Container to group components, directive, pipes, services, and other items
      together. Also used for organization, lazy loading.
    </p>
  </li>
  <li>
    <p>Components</p>
    <p>
      Could be a page or a single control, or just some HTML. These can have
      coded functionality and are made up of .html, .css, and .ts files,
      optionally a .spec.ts file.
    </p>
  </li>
  <li>
    <p>Template Bindings</p>
    <p>{{ templateBindings }}</p>
    <div>
      <input
        matInput
        type="text"
        [(ngModel)]="textVal"
        placeholder="Enter Text"
      />
      <span>{{ textVal }}</span>
    </div>
  </li>
  <li>
    <p>Routes</p>
    <p>How to traverse the app.</p>
  </li>
  <li>
    <p>Pipes <span (click)="togglePipes()" style="font-weight:normal">(Expand/Hide)</span></p>
    <p>Transforming data, built in pipes and custom.</p>
    <pipes *ngIf="showPipes"></pipes>
  </li>
  <li>
    <p>Directives <span (click)="toggleDirectives()" style="font-weight:normal">(Expand/Hide)</span></p>
    <p>Additional behavior to elements, built in directives and custom.</p>
    <directives *ngIf="showDirectives"></directives>
  </li>
  <li>
    <p>Reactive Forms <span (click)="toggleReactiveForm()" style="font-weight:normal">(Expand/Hide)</span></p>
    <p>Model driven form controls, these can be typed/untyped.</p>
    <reactive-forms
        *ngIf="showReactiveForm"
      (formSubmitted)="captureSubmission($event)"
      [defaultAge]="18"
    ></reactive-forms>
  </li>
  <li>
    <p class="link-text">
      <a routerLink="/observables/obs-overview">Observables</a>
    </p>
    <p>Asynchronous programming, event handling, subscribable</p>
  </li>
</ul>
<button mat-raised-button (click)="populateMovies()" color="primary">
  Get Movies
</button>
<ul>
  <li *ngFor="let movie of movies">{{ movie.title }}</li>
</ul>
